<div class='splash_page'>

  <h1 class='center home-title'>Slick Spots</h1>
  <h4 class='center home'>For Your Slickest Spots</h3>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <%= link_to spots_path do %>
    <button class="btn btn-success center_button splash_center">Enter</button>
  <% end %>



</div>
