<div class='splash_page'>

  <h1 class='center home-title'>Slick Spots</h1>
  <h4 class='center'>For Your Slickest Spots</h3>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <button class="btn btn-success center_button splash_center"  ><%= link_to 'ENTER', spots_path %></button>





</div>
