@import 'bootstrap-sprockets';

@import 'bootstrap';

body, html {
  font-size: 1em;
  min-width: 320px;
}

input[type="search"] {
  margin-top: 15px;
  height: 30px !important; /* or height of nav */
}

input[type='search']:focus {
  background: lightgreen;
}

#search {
  margin-left: 20px;
  padding-left: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

nav ul a {
  font-size: 10px !important;
}

.brand-logo {
  left: 0 !important;
  padding-left: 10px !important;
}

.alert {
  color: white;
}

.flash-message {
  font-size: 10px;
}

.alert-notice {
  background-color: #10301a;
}

.alert-alert {
  background-color: red;
}
