@import 'bootstrap-sprockets';
@import 'bootstrap';

body, html {
  font-size: 1em;
  min-width: 320px;
  background-color: #2f3a2e;
  color: #e7e7e7;
}

.no-mar-top {
  margin-top: 0;
}

.profile-back {
  background-image:url('night_mountain.jpg');
}

h1 {
  font-style:normal;
  font-family:inherit;
  font-size: 50px;
  color: #b6c3b6;
  margin-left: 20%;
  margin-right: 20%;
}


.center {
  text-align: center;
}


input[type="search"] {
  margin-top: 15px;
  height: 30px !important; /* or height of nav */
}

input[type='search']:focus {
  background: #cecece
}

input[type='text'], input[type='email'], input[type='password'] {
  background-color: #cecece;
  color: #171A15 !important;
}

input[type='submit'] {
  color: black;
}

select {
  background-color: #cecece;
  color: #171A15;
}


textarea {
  background-color: #cecece;
  resize: none;
  height: 200px;
  width: 100%;
  color: #102a18;
  font-style: normal;
}

#search {
  margin-left: 20px;
  padding-left: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

nav ul a {
  font-size: 12px !important;
}

.brand-logo {
  left: 0 !important;
  padding-left: 10px !important;
}

.alert {
  color: white;
  margin-bottom: 0;
}

.flash-message {
  font-size: 10px;
}

.alert-notice {
  background-color: #10301a;
}

.alert-alert {
  background-color: red;
}

.medium_show_picture img {
  margin-left: 10px;
  height: 400px;
}

.item {
  position: relative;
}

.delete-spot {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  font-size: 1em;
  color: #720202 !important;
}

.danger {
  color: red;
}

.delete-spot:hover {
  font-size: 1em;
  color: red !important;
}

#map {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.carousel-img {
  width: 100%;

}

.slide1 {
  // height: 600px;
  height: 600px;
  margin: 0;
  background-size: cover;
  padding: 0 0 260px 0;
  // min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  // background-size: cover;
  // height: 600px;
}


.slide2 {
  background-color: white;
  height: 400px;
  width: 100%;
}

.slide1_span a {
  color: gold;
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.navbar {
  margin-bottom: 0 !important;
}

.footer {
  text-align: center;
}

.pagination {
  padding: 4px 8px;
  text-decoration: none;
}

.pagination.active {
    border-radius: 5px;
}

.splash_page {
    background-image: url("nature_splash_picture.jpg");
    height: 700px;
    background-size: cover;
}

.center_button {
  display: block;
  margin: 0 auto;

  }


.btn a {
  color: white;
  text-decoration: none;
}


.btn a:hover {
  text-decoration: none;
}

.card-img-top {
  width: 100%;
}

.home-title {
  margin-top: 0;
  padding-top: 20px;
}
