@import 'bootstrap-sprockets';

@import 'bootstrap';

//
// html {
//   background: url('night_mountain.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.nav-link {
    color: #171A15 !important;
}

.profile-back {
  background-image:url('night_mountain.jpg');
}

body, html {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1em;
  min-width: 320px;
  margin-left: 10px;
  background-color: #F2F0BD;
}

h1 {
  font-style: oblique;
  font-family: fantasy;
  font-size: 50px;
  color: #213825;
  margin-left: 20%;
  margin-right: 20%;
}


.center {
  text-align: center;
}

input[type="search"] {
  margin-top: 15px;
  height: 30px !important; /* or height of nav */
}

input[type='search']:focus {
  background: #E6EDE4;
}

input[type='text'] {
  background-color: #E6EDE4;
  width: 100%;
}

select {
  background-color: #E6EDE4;
  color: #171A15;
}


textarea {
  resize: none;
  height: 200px;
  width: 100%;
  background-image:url('opac_image.png');
  color: #10301a;
  font-style: normal;
  font-family: serif;
  font-weight: bolder;
}

#search {
  margin-left: 20px;
  padding-left: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

nav ul a {
  font-size: 12px !important;
}

.brand-logo {
  left: 0 !important;
  padding-left: 10px !important;
}

.alert {
  color: white;
}

.flash-message {
  font-size: 10px;
}

.alert-notice {
  background-color: #10301a;
}

.alert-alert {
  background-color: red;
}

.show_picture img {
  margin-left: 10px;
  height: 400px;
}

.item {
  position: relative;
}

.delete-spot {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 auto;
  font-size: 1em;
  color: #720202 !important;
}


.delete-spot:hover {
  font-size: 1em;
  color: red !important;
}
#spot-carousel {

}

.carousel-img {
  width: 100%;

}
